.App {
  height: 100vh;
  width: 100vw;
  /* opacity: 0.3; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: 'KumbhSans';
  background-color: var(--dark-cyan);
  background-image: url("bg-pattern-top.svg"), url("bg-pattern-bottom.svg");
  background-position: -75vw -40vh, 45vw 50vh;
  /* opacity: 0; */
  /* background-size: cover; */
  background-size: 130%, 180%;
  background-repeat: no-repeat;
}

@media (min-width: 900px) {
  .App {
    /* opacity: 0; */
    background-size: 68%, 68%;
    background-position: -20vw -70vh, 48vw 52vh;
    /* background-size: contain; */
  }
}

@font-face {
  font-family: "KumbhSans";
  font-weight: 400;
  src: url("./KumbhSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KumbhSans";
  font-weight: 700;
  src: url("./KumbhSans-Bold.ttf") format("truetype");
}