html {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-esaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

body {
  margin: 0;
  background-image: url("./mobile-design.jpg");
}

/* @media (min-width: 900px) {
  body {
    background-image: url("./desktop-design.jpg")
  }
} */

*,
::before,
::after {
  box-sizing: border-box;
}
